@{
    
    ViewData["Title"] = "About"; // arumento C#
}
<!-- o bloco acima é o bloco C# que pode receber argumentos C#-->
<!--Paginas Razor-->
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Use this area to provide additional information.</p>
<p>@ViewData["email"]</p>

